# For advice on how to change settings please see
# ng_query_time=2
#
# #开启慢查询日志
# slow_query_log=1
#
# #定义慢查询日志定义功能
# slow_query_log_file=slow.log
#
# #开启 记录没有使用索引查询语句
# log_queries_not_using_indexes=1
#
# #每分钟允许记录到slow log的且未使用索引的SQL语句次数
# log_throttle_queries_not_using_indexes=10
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

max_allowed_packet=1024M
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
long_query_time=2

#开启慢查询日志
slow_query_log=1
#
##定义慢查询日志定义功能
slow_query_log_file=slow.log
#
##开启 记录没有使用索引查询语句
log_queries_not_using_indexes=1
#
#skip-grant-tables
##每分钟允许记录到slow log的且未使用索引的SQL语句次数
log_throttle_queries_not_using_indexes=10
# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
